* {box-sizing:border-box ;}

.mobile-only {display:none }

.group {
overflow: hidden;
}

.no-padding { padding:0 ; margin:0}
.cta-white.no-padding  { padding:0 ;  }

.reversed.inner-shadow  {
-moz-box-shadow: inset 0px 5px 8px #575757;
-webkit-box-shadow: inset 0px 5px 8px #575757;
box-shadow: inset 0px 5px 8px #575757;
}

a:hover {cursor:pointer }

.display-table { display:table}
.display-cell { display:table-cell }
